
 *{
            margin: 0;
            padding: 0;
     font-family: Helvetica, sans-serif;
        }

 img{
            margin: 0 0;
            padding: 0 0;
     height:200px;
        }
 .header{
     display: flex;
     align-items: center;
 }
 .login_div{
     margin-left: 250px;
 }

 label{
    font-weight: 700;
}
input[type=text] {

    border-radius: 10px;
    border: 1px solid #2d9fd9;
    color: #a0d18c;
    width: 350px;
    height: 40px;
    padding-left: 10px;
    margin-top: 10px;

  }

  input[type=submit] {

    background-color: #0b7bb3;
  border: none;
  border-radius: 50px;
  color: white;

  text-decoration: none;
  margin-top: 20px;
  cursor: pointer;


    width: 250px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;



  }